<h1>About This Application</h1>
<p>This application utilizes data from several sources to provide users with comprehensive information about...</p>

<h2>Data Sources</h2>
<ul>
  <li>OpenWeatherMap API for real-time weather data.</li>
  <li>Faker for generating dynamic user data.</li>
  <li>Custom CSV file for library data including Books and their Title, Author, Genre, Publication Year, Library Name and Library Branch.</li>
</ul>

<h3>Entity Relationship Diagram for Database</h3>

<%# Optionally include an ERD image if you have one %>
<%= image_tag('ERD.png', alt: 'Entity Relationship Diagram') %> 


